.container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

