.container{
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}
.chattingSection{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-color: #d2d2d2;
}
.messageSection{
    flex:1;
    display:flex;
    flex-direction: column;
    gap: 16px;
}

